* {
    text-transform: capitalize;
    margin: 0px auto;
    padding: 0px;
}

.body {
    position: relative;
    margin: 0px;
    width: 1600;
    height: 5402px;
    /* background: #fbfbfb; */
}


/* header */

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 104px;
}

#header {
    height: 104px;
    width: 1600px;
    background: #071f54;
}


/* logo */

h1 {
    position: absolute;
    width: 118px;
    height: 24px;
    left: 160px;
    top: 44px;
    font-family: 'Rubik';
    font-style: bold;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* img logo */

img {
    margin: auto;
    position: absolute;
    left: 7.5%;
    top: 42px;
    width: 38px;
    height: 34px;
}


/* navbar */

.findjobs {
    box-shadow: 5px, 5px, 5px, 5px;
    box-sizing: border-box;
    background-color: #071f54;
    color: #FFFFFF;
    font-size: 15px;
    border: 0px;
    width: 96px;
}

#postcv {
    position: absolute;
    left: 538px;
    top: 44px;
    margin: auto;
    color: #FFFFFF;
}


/* find jobs menu */

.drop-menu {
    border: 0px;
    background: #071f54;
    color: white;
    position: absolute;
    left: 424px;
    top: 44px;
    margin: auto;
}

.box {
    background-color: #FFFFFF;
    color: #071f54;
    border: 0px;
    border-radius: 5px;
}

#contactus {
    position: absolute;
    top: 44px;
    left: 663px;
    margin: auto;
    color: #FFFFFF;
}

input {
    border: 1px solid #FF4402;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #071f54;
}

input:hover {
    border: 0px;
    border-radius: 6px;
    background: #FF4402;
}

.login {
    position: absolute;
    left: 1154px;
    top: 33px;
    width: 42px;
    height: 38px;
    border: 0px;
}

.signup {
    position: absolute;
    left: 1216px;
    top: 33px;
    width: 104px;
    height: 38px;
}

.employer {
    background: #FF4402;
    color: #FFFFFF;
    position: absolute;
    left: 1333px;
    top: 33px;
    width: 105px;
    height: 38px;
}


/* languages drop menu */

.lang {
    background-color: #071f54;
    color: #FFFFFF;
    position: absolute;
    left: 1457px;
    top: 42px;
    width: 21px;
    height: 19px;
}

.la2 {
    box-shadow: 2px, 2px, 2px, 5px;
    background-color: #FFFFFF;
    color: #071f54;
    border: 0px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}


/* section1 */

.s {
    position: absolute;
    width: 1380px;
    height: 604px;
    left: 110px;
    top: 161px;
    background: #f8f8f8;
    border-radius: 25px;
    margin: auto;
}


/* fIND YOUR jobs & MAKE SURE GOAL */

.sec1 {
    position: absolute;
    width: 475px;
    height: 84px;
    left: 50px;
    top: 88px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 53px;
    text-transform: uppercase;
    color: #062045;
    margin: auto;
    line-height: 90px;
}


/* Search Jobs world wide */

.sect label {
    position: absolute;
    width: 555px;
    height: 35px;
    left: 50px;
    top: 252px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #4F5665;
    margin: auto;
}

.sect input {
    position: absolute;
    width: 266px;
    height: 60px;
    left: 46px;
    top: 309px;
    background: #EDEDED;
    border-radius: 5px;
    margin: 0px;
}

.sect select {
    position: absolute;
    width: 209px;
    height: 60px;
    left: 323px;
    top: 309px;
    background: #EDEDED;
    border-radius: 5px;
    margin: 0px;
}

.sect [type="button"] {
    position: absolute;
    width: 70px;
    height: 60px;
    left: 544px;
    top: 309px;
    border-radius: 5px;
    margin: 0px;
    background: url(images/search.jfif);
    background-repeat: no-repeat;
    background-size: 70px, 60px;
}

.sec1-img {
    position: absolute;
    top: px;
    left: 632px;
    width: 695.9px;
    height: 492.85Px;
    margin: auto;
}

.sec1-img img {
    position: absolute;
    width: 695.9px;
    height: 492.85px;
}

.futcher-company {
    position: absolute;
    left: 608px;
    top: 827px;
    width: 366px;
    height: 54px;
    font-size: 60px;
    font-weight: 500;
    background: #FFFFFF;
}

[alt="Netflix"] {
    position: absolute;
    left: 239px;
    top: 938.91px;
    width: 190px;
    height: 60px;
    background-color: #FFFFFF;
}

[alt="Reddit"] {
    position: absolute;
    left: 481.5px;
    top: 940.34px;
    width: 190px;
    height: 90px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

[alt="Amazon"] {
    position: absolute;
    left: 714.88px;
    top: 950px;
    width: 190px;
    height: 90px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

[alt="discord"] {
    position: absolute;
    left: 956.38px;
    top: 938px;
    width: 190px;
    height: 90px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

[ alt="spotify"] {
    position: absolute;
    left: 1193.88px;
    top: 939.67px;
    width: 190px;
    height: 90px;
    margin: 0px auto;
    background-color: #FFFFFF;
}

.Featured-companies {
    position: absolute;
    width: 366px;
    height: 54px;
    left: 608px;
    top: 827px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #071F45;
}

.popular-Job-category {
    margin: auto;
    position: absolute;
    top: 909px;
    left: 0px;
    background-color: #4F5665;
}

.popular-Job-category section {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #CACACA;
    border-radius: 10px;
    width: 435px;
    height: 131px;
    /* z-index: 2; */
}

.popular-Job-category section:hover {
    background: #FF4402;
}

.popular-Job-category h2 {
    /* popular job categories */
    position: absolute;
    width: 500px;
    height: 60px;
    left: 598px;
    top: 373px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #071F45;
    word-break: keep-all;
}

.popular-Job-category h3:hover {
    color: #FFFFFF;
}

.popular-Job-category p:hover {
    color: #FFFFFF;
}

.popular-Job-category h3 {
    position: absolute;
    width: 197px;
    height: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #071F45;
    word-break: keep-all;
}

.popular-Job-category img {
    position: absolute;
    width: 84px;
    height: 84px;
    background: #F8F8F8;
    border-radius: 50%;
}

.popular-Job-category p {
    position: absolute;
    width: 129px;
    height: 21px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F5665;
}


/* human resorces */

#human-resources {
    position: absolute;
    left: 110px;
    top: 467px;
}

#human-resources h3 {
    position: absolute;
    left: 115px;
    top: 53px;
}

#human-resources img {
    position: absolute;
    left: 20px;
    top: 25px;
}

#human-resources p {
    position: absolute;
    left: 123px;
    top: 73px;
}


/* Accounting & Audit */

#Accounting-Audit {
    position: absolute;
    left: 110px;
    top: 642px;
}

#Accounting-Audit img {
    position: absolute;
    top: 25px;
    left: 20px;
}

#Accounting-Audit h3 {
    position: absolute;
    top: 42px;
    left: 123px;
}

#Accounting-Audit p {
    position: absolute;
    left: 123px;
    top: 73px;
}


/* Hotels & Restaurants */

#Hotels-Restaurants {
    position: absolute;
    left: 110px;
    top: 817px;
}

#Hotels-Restaurants h3 {
    position: absolute;
    left: 115px;
    top: 42px;
}

#Hotels-Restaurants img {
    position: absolute;
    left: 20px;
    top: 25px;
}

#Hotels-Restaurants p {
    position: absolute;
    left: 123px;
    top: 73px;
}


/* #Engineering */

#Engineering {
    position: absolute;
    left: 582px;
    top: 467px;
}

#Engineering h3 {
    position: absolute;
    left: 139px;
    top: 42px;
}

#Engineering img {
    position: absolute;
    left: 25px;
    top: 25px;
}

#Engineering p {
    position: absolute;
    left: 139px;
    top: 73px;
}


/* #Maintenance-Repair */

#Maintenance-Repair {
    position: absolute;
    left: 582px;
    top: 642px;
}

#Maintenance-Repair h3 {
    position: absolute;
    left: 133px;
    top: 42px;
}

#Maintenance-Repair img {
    position: absolute;
    left: 25px;
    top: 25px;
}

#Maintenance-Repair p {
    position: absolute;
    top: 73px;
    left: 133px;
}


/* #Driving */

#Driving {
    position: absolute;
    left: 582px;
    top: 817px;
}

#Driving h3 {
    position: absolute;
    left: 133px;
    top: 42px;
}

#Driving img {
    position: absolute;
    left: 25px;
    top: 25px;
}

#Driving p {
    position: absolute;
    top: 73px;
    left: 133px;
}


/* #Sales-Retail */

#Sales-Retail {
    position: absolute;
    left: 1054px;
    top: 467px;
}

#Sales-Retail img {
    position: absolute;
    left: 25px;
    top: 25px;
}

#Sales-Retail h3 {
    position: absolute;
    left: 143px;
    top: 42px;
}

#Sales-Retail p {
    position: absolute;
    left: 141px;
    top: 73px;
}


/* #IT-SoftwareDevelopment */

#IT-SoftwareDevelopment {
    position: absolute;
    left: 1054px;
    top: 642px;
}

#IT-SoftwareDevelopment img {
    position: absolute;
    left: 25px;
    top: 25px;
}

#IT-SoftwareDevelopment h3 {
    position: absolute;
    left: 141px;
    top: 48px;
    word-break: keep-all;
}

#IT-SoftwareDevelopment p {
    position: absolute;
    left: 141px;
    top: 73px;
}


/* #Healthcare-Medical */

#Healthcare-Medical {
    position: absolute;
    left: 1054px;
    top: 817px;
}

#Healthcare-Medical img {
    position: absolute;
    left: 25px;
    top: 25px;
}

#Healthcare-Medical h3 {
    position: absolute;
    left: 141px;
    top: 42px;
}

#Healthcare-Medical p {
    position: absolute;
    left: 141px;
    top: 73px;
}


/* all categories */

.popular-Job-category input {
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 42px;
    left: 730px;
    top: 992px;
    border: 1px solid #FF4402;
    border-radius: 6px;
    background: #EDEDED;
    color: #FF4402;
}

.popular-Job-category input:hover {
    background: #FF4402;
    color: #FFFFFF;
}

.dream-jobs {
    position: absolute;
    top: 1839px;
    left: 0px;
}

.sec2 {
    position: absolute;
    top: 104px;
    left: 978px;
    width: 453px;
    height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: #071F45;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    word-break: keep-all;
}

.dream-jobs section img {
    position: absolute;
    left: 128px;
    top: 81px;
    width: 550.9px;
    height: 533px;
}

.dream-jobs h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #1A2237;
}

.dream-jobs p {
    width: 428px;
    height: 21px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.h1 {
    position: absolute;
    top: 241px;
    left: 1000px;
    width: 555px;
    height: 35px;
}

.p1 {
    position: absolute;
    width: 428px;
    height: 21px;
    left: 991px;
    top: 290px;
}

.h2 {
    position: absolute;
    width: 555px;
    height: 35px;
    left: 1000px;
    top: 340px;
}

.p2 {
    position: absolute;
    width: 428px;
    height: 21px;
    left: 991px;
    top: 389px;
}

.h3 {
    position: absolute;
    width: 555px;
    height: 35px;
    left: 1000px;
    top: 456px;
}

.p3 {
    position: absolute;
    width: 428px;
    height: 21px;
    left: 991px;
    top: 505px;
}


/* latest job here */

.latest-job {
    position: absolute;
    width: 1912px;
    height: 898px;
    left: -189px;
    top: 2424px;
    bottom: 2080px;
    background: #F8F8F8;
    border-radius: 25px;
    Width: 1912px;
    Height: 898px;
}

.latest-job a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
    color: #1A2237;
    background: none;
    border: 0px;
}

.latest-job a:hover {
    color: #FF4402;
}

.latest-job .ljob {
    height: 35px;
    width: 138px;
    position: absolute;
    top: 244px;
    left: 301px;
}

.latest-job .ljob2 {
    height: 35px;
    width: 110px;
    position: absolute;
    top: 244px;
    left: 461px;
}

.latest-job .ljob3 {
    height: 35px;
    width: 158px;
    position: absolute;
    top: 244px;
    left: 613px;
}

.latest-job div {
    width: 57px;
    height: 57px;
    border-radius: 50px;
}

.latest-job .back {
    background: url(images/back.jfif);
    background-repeat: no-repeat;
    background-size: 57px, 57px;
    width: 57px;
    height: 57px;
    border: 0px;
    position: absolute;
    top: 213px;
    right: 306px;
    background-position: center;
}

.latest-job .next {
    background: url(images/next.jfif);
    background-repeat: no-repeat;
    background-size: 57px, 57px;
    width: 57px;
    height: 57px;
    border: 0px;
    background-position: center;
    position: absolute;
    top: 213px;
    right: 237px;
}

.latest-job section {
    box-sizing: border-box;
    width: 435px;
    height: 186px;
    background: #FFFFFF;
    border: 2px solid #CACACA;
    border-radius: 10px;
}

.latest-job section:hover {
    border-color: #FF4402;
}

.latest-job h2 {
    position: absolute;
    width: 283px;
    height: 54px;
    left: 848px;
    top: 65px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #071F45;
}

.latest-job h3 {
    width: 117px;
    height: 23px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #071F45;
    word-break: keep-all;
}

.latest-job p {
    width: 193px;
    height: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    color: #071F45;
}


/* art teacher sec1 */

.art-teacher {
    position: absolute;
    left: 299px;
    top: 314px;
}

.art-teacher2 {
    position: absolute;
    left: 299px;
    top: 540px;
}

.Executive-Secretary {
    position: absolute;
    top: 314px;
    left: 771px;
}

.Executive-Secretary2 {
    position: absolute;
    top: 540px;
    left: 771px;
}

.Sales-Supervisor {
    position: absolute;
    left: 1234px;
    top: 314px;
}

.Sales-Supervisor .gps {
    width: 159px;
    height: 28px;
    word-break: keep-all;
    word-spacing: 3.5px;
}

.Sales-Supervisor2 {
    position: absolute;
    left: 1234px;
    top: 540px;
}

.Sales-Supervisor2 .gps {
    width: 159px;
    height: 28px;
    word-break: keep-all;
    word-spacing: 3.5px;
}

[src="images/latest job.jfif"] {
    position: absolute;
    top: 25px;
    left: 20px;
    bottom: 77px;
    width: 84px;
    height: 84px;
    border-radius: 50;
}

.latest-job section h3 {
    position: absolute;
    top: 42px;
    left: 120px;
    width: 117px;
    height: 23px;
}

[src="images/company.jfif"] {
    position: absolute;
    top: 77px;
    left: 126px;
    Width: 15px;
    Height: 14px;
}

.c {
    position: absolute;
    top: 71px;
    left: 148px;
    width: 193px;
    height: 28px;
}

[src="images/GPS.jfif"] {
    position: absolute;
    top: 105px;
    left: 127px;
    width: 16.91px;
    height: 16.91px;
}

.latest-job section .gps {
    position: absolute;
    top: 99px;
    left: 148px;
    width: 77px;
    height: 28px;
}

.latest-job section [src="images/calendar.jfif"] {
    position: absolute;
    top: 137px;
    left: 127px;
    width: 15px;
    height: 15px;
}

.latest-job section .time {
    position: absolute;
    top: 131px;
    left: 148px;
    width: 77px;
    height: 28px;
}

.latest-job section input {
    background: url(images/unlike.jfif);
    background-repeat: no-repeat;
    position: absolute;
    top: 17.98px;
    left: 395.99px;
    width: 17.92px;
    height: 15.29px;
    background-size: 15.29px, 17.92px;
    border: 0px;
}

.latest-job section input:hover {
    background: url(images/like.jfif);
    background-size: 15.29px, 17.92px;
    background-repeat: no-repeat;
}

.latest-job [value="All Jobs"] {
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 42px;
    left: 919px;
    top: 787px;
    border: 1px solid #FF4402;
    border-radius: 6px;
    background: #f8f8f8;
    color: #FF4402;
}

.latest-job [value="All Jobs"]:hover {
    background: #FF4402;
    color: #FFFFFF;
}


/* .Jobs-by-Country */

.Jobs-by-Country {
    position: absolute;
    top: 3322px;
    text-align: center;
    width: 1600px;
    height: 909px;
    background-color: #F8F8F8;
}

.Jobs-by-Country h2 {
    position: absolute;
    top: 60px;
    left: 659px;
    width: 295px;
    height: 54px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #071F45;
}

.Jobs-by-Country img {
    position: absolute;
    width: 1277.72px;
    height: 648.23px;
    left: 161.14px;
    top: 187.77px;
    background: #DDE0E4;
    opacity: 0.7;
}

.Jobs-by-Country input {
    background: url(images/country\ butten.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 0px;
    border-radius: 50%;
}

.b1 {
    position: absolute;
    left: 1359px;
    top: 292.19px;
    width: 25.42px;
    height: 25.42px;
}

.b2 {
    position: absolute;
    left: 1077.61px;
    top: 350.72px;
    width: 42.98px;
    height: 42.98px;
}

.b3 {
    position: absolute;
    width: 19.4px;
    height: 19.4px;
    left: 1125.21px;
    top: 452.19px;
}

.b4 {
    position: absolute;
    width: 33.51px;
    height: 33.51px;
    left: 955.02px;
    top: 329.34px;
}

.b5 {
    position: absolute;
    width: 42.58px;
    height: 42.58px;
    left: 863.62px;
    top: 477.89px;
}

.b6 {
    position: absolute;
    width: 34.12px;
    height: 34.12px;
    left: 835.53.23px;
    top: 384.89px;
}

.b7 {
    position: absolute;
    width: 25.42px;
    height: 25.42px;
    top: 315.17px;
    left: 787.29px;
}

.b8 {
    position: absolute;
    width: 20.8px;
    height: 20.8px;
    left: 1143.39px;
    top: 615.1px;
}

.b9 {
    position: absolute;
    width: 35.36px;
    height: 35.36px;
    left: 1179.8px;
    top: 683.75px;
}

.b10 {
    position: absolute;
    width: 19.38px;
    height: 19.38px;
    left: 1271.77px;
    top: 716.12px;
}

.b11 {
    position: absolute;
    width: 25.42px;
    height: 25.42px;
    left: 735.34px;
    top: 514.62px;
}

.b12 {
    position: absolute;
    width: 43.84px;
    height: 43.84px;
    left: 846.22px;
    top: 526.5px;
}

.b13 {
    position: absolute;
    width: 36.45px;
    height: 36.45px;
    left: 836.81px;
    top: 652.21px;
}

.b14 {
    position: absolute;
    width: 20.69px;
    height: 20.69px;
    left: 667.79px;
    top: 210.09px;
}

.b15 {
    position: absolute;
    width: 25.36px;
    height: 25.36px;
    left: 588.46px;
    top: 223.3px;
}

.b16 {
    position: absolute;
    width: 18.42px;
    height: 18.42px;
    left: 594.5px;
    top: 305.96px;
}

.b17 {
    position: absolute;
    width: 19.4px;
    height: 19.4px;
    left: 488.58px;
    top: 189.86px;
}

.b18 {
    position: absolute;
    width: 25.36px;
    height: 25.36px;
    left: 1038.36px;
    top: 353.92px;
}

.b19 {
    position: absolute;
    width: 22.36px;
    height: 22.36px;
    left: 454.72px;
    top: 434.91px;
}

.b20 {
    position: absolute;
    width: 25.36px;
    height: 25.36px;
    left: 398.82px;
    top: 303.43px;
}

.b21 {
    position: absolute;
    width: 21.05px;
    height: 21.05px;
    left: 390.48px;
    top: 475.94px;
}

.b22 {
    position: absolute;
    width: 37.17px;
    height: 37.17px;
    left: 357.66px;
    top: 363.49px;
}

.b23 {
    position: absolute;
    width: 25.42px;
    height: 25.42px;
    left: 292.19px;
    top: 306.94px;
}

.b24 {
    position: absolute;
    width: 16.09px;
    height: 16.09px;
    left: 205.74px;
    top: 304.04px;
}

.b25 {
    position: absolute;
    width: 25.42px;
    height: 25.42px;
    left: 500.21px;
    top: 572.6px;
}

.b26 {
    position: absolute;
    width: 34.59px;
    height: 34.59px;
    left: 545.59px;
    top: 633.12px;
}

.b27 {
    position: absolute;
    width: 16.84px;
    height: 16.84px;
    left: 608.19px;
    top: 627.48px;
}

.b28 {
    position: absolute;
    width: 25.42px;
    height: 25.42px;
    left: 516.45px;
    top: 722.78px;
}


/* Are you looking for a job or employer ? */

.looking {
    position: absolute;
    width: 1912px;
    height: 666px;
    left: -186px;
    top: 4231px;
    background: #F8F8F8;
    border-radius: 25px;
}

.looking h2 {
    position: absolute;
    width: 557px;
    height: 112px;
    left: 299px;
    top: 148px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    text-transform: capitalize;
    color: #071F45;
}

.looking p {
    position: absolute;
    width: 548px;
    height: 134px;
    left: 296px;
    top: 274px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.looking img {
    position: absolute;
    width: 707px;
    height: 471px;
    left: 969px;
    top: 98px;
}

.looking input {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

.looking [value="looking for job"] {
    box-sizing: border-box;
    position: absolute;
    width: 130px;
    height: 38px;
    left: 299px;
    top: 451px;
    border: 1px solid #FF4402;
    border-radius: 6px;
    background: #F8F8F8;
    color: #FF4402;
}

.looking [value="looking for job"]:hover {
    background: #FF4402;
    color: #FFFFFF;
}

.looking [value="employer?"] {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 493px;
    top: 451px;
    background: #FF4402;
    border-radius: 6px;
    color: #FFFFFF;
}

.looking [value="employer?"]:hover {
    color: #FF4402;
    background: #FFffff;
}


/* footer */

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1600px;
    height: 444px;
    background: #071F45;
}

footer [alt="ALARABYA logo"] {
    position: absolute;
    top: 68px;
    left: 114px;
    width: 41px;
    height: 37px;
}

footer h2 {
    position: absolute;
    width: 118px;
    height: 24px;
    left: 160px;
    top: 74px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer p {
    position: absolute;
    width: 385.41px;
    height: 69.8px;
    left: 114px;
    top: 148px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #B8BECC;
}

footer table {
    position: absolute;
    top: 89px;
    left: 796px;
    color: #FFFFFF;
    text-align: center;
    width: 646.12px;
    height: 181px;
    border: 0px;
}

footer table tr {
    width: 139px;
    height: 34px;
}

footer table th {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

footer td {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #ABAEB7;
}

[alt="insta"] {
    position: absolute;
    left: 14.72%;
    right: 82.9%;
    top: 251.8px;
    Width: 38.09px;
    Height: 38.09px;
    border-radius: 50%;
}

[alt="facebook"] {
    position: absolute;
    width: 38.09px;
    height: 38.09px;
    left: 114px;
    top: 251.8px;
    border-radius: 50%;
}

[alt="twitter"] {
    position: absolute;
    width: 38.09px;
    height: 38.09px;
    left: 174.76px;
    top: 251.8px;
    border-radius: 50%;
}

footer .copy-right {
    position: absolute;
    width: 149.63px;
    height: 34.01px;
    left: 753px;
    top: 323.89px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #AFB5C0;
}

#all-category {
    width: 1600px;
    height: 3051px;
}

.bod {
    width: 1600px;
    height: 3051px;
}

.all-category-page {
    width: 1780px;
    height: 2536px;
    position: absolute;
    top: 104px;
    left: -44px;
    background: #f8f8f8;
}

.all-category-page section {
    width: 435px;
    height: 131px;
    background: #FFffff;
    border: 2px solid #CACACA;
    border-radius: 10px;
}

.all-category-page section:hover {
    background: #FF4402;
    color: #FFFFFF;
}

a:hover {
    text-decoration-color: #FFffff;
}

.all-category-page section h3 {
    position: absolute;
    top: 42px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #071F45;
}

section h3:hover {
    color: #FFffff;
}

.all-category-page section p {
    position: absolute;
    top: 73px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #4F5665;
}

.all-category-page section img {
    position: absolute;
    width: 84px;
    height: 84px;
    top: 25px;
    border-radius: 50%;
}

.left {
    position: absolute;
    left: 154px;
}

.left img {
    left: 20px;
}

.left h3 {
    left: 123px;
}

.left p {
    left: 123px;
}

.middel {
    position: absolute;
    left: 626px;
}

.middel h3 {
    left: 133px;
}

.middel p {
    left: 133px;
}

.middel img {
    left: 25px;
}

.right {
    position: absolute;
    left: 1098px;
}

.right img {
    left: 27px;
}

.right h3 {
    left: 141px;
}

.right p {
    left: 141px;
}

.r1 {
    top: 432px;
}

.r2 {
    top: 607px;
}

.r3 {
    top: 782px;
}

.r4 {
    top: 957px;
}

.r5 {
    top: 1132px;
}

.r6 {
    top: 1307px;
}

.r7 {
    top: 1482px;
}

.r8 {
    top: 1657px;
}

.r9 {
    top: 1832px;
}

.r10 {
    top: 2007px;
}

.r11 {
    top: 2182px;
}

.bar {
    position: absolute;
    top: 300px;
    left: 162px;
    width: 1380px;
    height: 96px;
    background: #FFFFFF;
}

.all-category-page h2 {
    position: absolute;
    top: 154px;
    left: 649px;
    width: 389px;
    height: 80px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 70px;
    text-transform: uppercase;
    color: #062045;
}

.all-category-page .p {
    position: absolute;
    width: 260px;
    height: 35px;
    left: 714px;
    top: 230px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #4F5665;
}

.bar input {
    background: #EDEDED;
    border-radius: 5px;
}

.bar [type="text"] {
    position: absolute;
    width: 632px;
    height: 60px;
    left: 13px;
    top: 18px;
}

#loc {
    position: absolute;
    width: 607px;
    height: 60px;
    left: 657px;
    top: 18px;
    background: #EDEDED;
}

.bar [type="button"] {
    position: absolute;
    width: 70px;
    height: 60px;
    left: 1277px;
    top: 18px;
    border-radius: 5px;
    background: url(images/search.jfif);
    background-repeat: no-repeat;
    background-size: 70px, 60px;
}

.next-page {
    position: absolute;
    top: 2389px;
    right: 250px;
    width: 348px;
    height: 66px;
    background: #FFffff;
}

.next-page input {
    width: 19.8px;
    height: 12.15px;
    color: #464646;
    background: #FFffff;
    border: 0px;
}

.next-page [value=">"] {
    position: absolute;
    left: 89.94%;
    right: 6.57%;
    top: 34.9%;
    bottom: 35.1%;
}

.next-page [value="<"] {
    position: absolute;
    left: 9.51%;
    right: 87%;
    top: 34.9%;
    bottom: 35.1%;
}

.next-page p {
    Width: 16.23px;
    Height: 20.66px;
    color: #464646;
    font-size: 20px;
}

.next-page p:hover {
    color: #F4691C;
}

.pa1 {
    position: absolute;
    left: 25.39%;
    right: 72.31%;
    top: 35.35%;
    bottom: 32.58%;
}

.pa2 {
    position: absolute;
    left: 37.25%;
    right: 58.75%;
    top: 35.05%;
    bottom: 33.07%;
}

.pa3 {
    position: absolute;
    left: 50%;
    right: 46.01%;
    top: 35.06%;
    bottom: 32.46%;
}

.pa4 {
    position: absolute;
    left: 62.7%;
    right: 32.64%;
    top: 36.08%;
    bottom: 32.61%;
}

.pa5 {
    position: absolute;
    left: 75.75%;
    right: 20.11%;
    top: 35.5%;
    bottom: 32.7%;
}

.pa6 {
    visibility: hidden;
}

.pa7 {
    visibility: hidden;
}

.pa8 {
    visibility: hidden;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 2654px;
}

.login-page {
    width: 1600px;
    height: 1701px;
}

.login-footer {
    position: absolute;
    top: 1256px;
    bottom: 0px;
    left: 0px;
}

.outline {
    position: absolute;
    width: 1609px;
    height: 1057px;
    left: -9px;
    top: 153px;
    background: #F8F8F8;
}

.inner {
    position: absolute;
    width: 1380px;
    height: 967px;
    top: 36px;
    left: 123px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.h {
    position: absolute;
    top: 36px;
    left: 654px;
    width: 95px;
    height: 32.9px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-transform: capitalize;
    color: #071F45;
}

.g {
    position: absolute;
    top: 84px;
    left: 655px;
    width: 391px;
    height: 59.64px;
    font-size: 30px;
    text-transform: capitalize;
    color: #2F2F2F
}

.google-l {
    position: absolute;
    top: 156.9px;
    left: 656px;
    width: 681px;
    height: 80.2px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.google-l p {
    position: absolute;
    top: 30.85px;
    left: 296px;
    font-size: 16px;
    line-height: 135.5%;
    color: #2F2F2F;
}

.google-l img {
    position: absolute;
    top: 25.71px;
    left: 245px;
    width: 32px;
    height: 32.9px;
}

.facebook-l {
    position: absolute;
    top: 265.89px;
    left: 656px;
    width: 681px;
    height: 80.2px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.facebook-l p {
    position: absolute;
    top: 30.85px;
    left: 296px;
    font-size: 16px;
    line-height: 135.5%;
    color: #2F2F2F;
}

.facebook-l img {
    position: absolute;
    top: 25.71px;
    left: 245px;
    width: 16px;
    height: 32.9px;
}

.line1 {
    position: absolute;
    width: 292px;
    height: 0px;
    left: 659px;
    top: 396.17px;
    border: 1px solid #BFBFBF;
}

.line2 {
    position: absolute;
    width: 288px;
    height: 0px;
    left: 1044px;
    top: 396.17px;
    border: 1px solid #BFBFBF;
}

.or {
    position: absolute;
    width: 22px;
    height: 22.62px;
    left: 986px;
    top: 384.86px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.5%;
    color: #2F2F2F;
}

.email {
    position: absolute;
    width: 328px;
    height: 12px;
    top: 429px;
    left: 675px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: #333333;
}

[placeholder="Email or phone number"] {
    position: absolute;
    width: 678px;
    height: 79px;
    left: 659px;
    top: 466px;
    font-size: 20px;
    background: #F2F2F2;
    border: 0px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color: black;
}

[placeholder="Email or phone number"]:hover {
    background: #F2F2F2;
    border: 2px, solid black;
    color: black;
}

.pass {
    position: absolute;
    width: 164px;
    height: 12.34px;
    top: 578.89px;
    left: 659px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: #333333;
}

[placeholder="Enter Password"] {
    position: absolute;
    width: 678px;
    height: 79px;
    left: 659px;
    top: 613.85px;
    font-size: 20px;
    background: #F2F2F2;
    border: 0px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color: black;
}

[placeholder="Enter Password"]:hover {
    background: #F2F2F2;
    border: 2px, solid black;
    color: black;
}

.non-visable {
    position: absolute;
    width: 678px;
    height: 79px;
    left: 659px;
    top: 613.85px;
    font-size: 20px;
    background: #F2F2F2;
    border: 0px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color: black;
    visibility: hidden;
}

.non-visable:hover {
    visibility: visible;
}

[type="checkbox"] {
    position: absolute;
    left: 668px;
    top: 719.75px;
    box-sizing: border-box;
    width: 19.53px;
    height: 18.51px;
    background: #ECECEC;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.rm {
    position: absolute;
    width: 117.19px;
    height: 22.62px;
    left: 703.81px;
    top: 717.7px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.5%;
    color: #2F2F2F;
}

.fp {
    position: absolute;
    width: 134px;
    height: 22.62px;
    top: 717.7px;
    left: 1191px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.5%;
    color: #FF4402;
}

.inner [value="Login"] {
    position: absolute;
    width: 678px;
    height: 79.17px;
    left: 659px;
    top: 765px;
    background: #FF6048;
    border-radius: 8px;
}

.dha {
    position: absolute;
    width: 259px;
    height: 21.59px;
    left: 856px;
    top: 892.5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.5%;
    text-align: center;
    color: #000000;
}

.dha a {
    color: #FF4402;
}

.img-sec {
    position: absolute;
    left: 28px;
    top: 31px;
    bottom: 34px;
    Width: 591px;
    Height: 902px;
    background: #F8F8F8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.img-sec img {
    position: absolute;
    width: 455px;
    height: 383.89px;
    left: 66px;
    right: 70px;
    top: 258.84px;
}

.sign-up {
    background: #E5E5E5;
    height: 1806px;
    width: 1600px;
}

.signup-footer {
    position: absolute;
    width: 1600px;
    height: 444px;
    left: 0px;
    top: 1402px;
}

.out-sec {
    position: absolute;
    width: 1609px;
    height: 1202px;
    left: -10px;
    top: 153px;
    background: #F8F8F8;
}

.in-sec {
    position: absolute;
    left: 123px;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.in-sec .h {
    line-height: 0px;
    width: 119px;
    height: 32.9px;
}

.in-sec [for="First name"] {
    position: absolute;
    width: 328px;
    height: 12px;
    left: 658px;
    top: 429px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: #333333;
}

#First-name {
    position: absolute;
    width: 320px;
    height: 79px;
    left: 659px;
    top: 466px;
    background: #F2F2F2;
    border-radius: 8px;
    font-size: 20px;
    border: 0px;
    color: #000;
}

[for="Last name"] {
    position: absolute;
    width: 328px;
    height: 24px;
    left: 1010px;
    top: 429px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 12px;
    letter-spacing: 0.3px;
    color: #333333;
}

#Last-name {
    position: absolute;
    width: 320px;
    height: 79px;
    left: 1011px;
    top: 466px;
    background: #F2F2F2;
    border-radius: 8px;
    font-size: 20px;
    border: 0px;
    color: #000000;
}

.in-sec .email {
    top: 579px;
}

.in-sec [placeholder="Email or phone number"] {
    top: 616px;
}

.in-sec .pass {
    top: 728.89px;
}

.in-sec [placeholder="Enter Password"] {
    top: 763.85px;
}

.in-sec .non-visable {
    top: 763.85px;
}

.in-sec [value="Sign Up"] {
    position: absolute;
    width: 681px;
    height: 79.17px;
    left: 656px;
    top: 880px;
    background: #FF6048;
    border-radius: 8px;
}

.in-sec form p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135.5%;
    text-align: center;
    color: #797777;
}

.in-sec form p a {
    color: #FF4402;
}

.in-sec .terms {
    position: absolute;
    width: 415px;
    height: 22px;
    left: 789px;
    top: 985px;
}

.in-sec .sign {
    position: absolute;
    width: 244px;
    height: 22px;
    left: 876px;
    top: 1033px;
    color: #000000;
}

.in-sec #img-sec {
    position: absolute;
    top: 37px;
    left: 33px;
    Width: 591px;
    Height: 1033px;
    background: #F8F8F8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

#img-sec h3 {
    position: absolute;
    width: 421px;
    height: 78px;
    left: 52px;
    top: 542px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 37px;
    text-transform: capitalize;
    color: #071F45;
}

#img-sec h3 a {
    color: #FF4402;
}

[src="images\sign-up\mark.jpg"] {
    position: absolute;
    left: 47px;
    width: 20px;
    height: 20px;
}

.i1 {
    top: 651px;
}

.i2 {
    top: 706px;
}

.i3 {
    top: 763px;
}

.i4 {
    top: 820px;
}

#img-sec p {
    position: absolute;
    left: 85px;
    height: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 135.5%;
    color: #2F2F2F;
}

.l1 {
    top: 639px;
    width: 408px;
}

.l2 {
    top: 696px;
    width: 544px;
}

.l3 {
    top: 753px;
    width: 439px;
}

.l4 {
    top: 810px;
    width: 433px;
}

.s-img {
    position: absolute;
    top: 144px;
    left: 48px;
    width: 496px;
    height: 320px;
}

.latest-job h3:hover {
    color: #062045;
}

.forget-pass {
    width: 1600px;
    height: 1220;
}

.forget-f {
    left: 0px;
    top: 771px
}

.forget-pass .out-sec {
    position: absolute;
    width: 1609px;
    height: 567px;
    left: -9px;
    top: 153px;
    background: #F8F8F8;
}

.forget-pass .in-sec {
    position: absolute;
    left: 123px;
    top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.forget-pass .in-sec h3 {
    position: absolute;
    width: 449px;
    height: 33px;
    left: 654px;
    top: 37px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    color: #071F45;
}

.forget-pass .in-sec p {
    position: absolute;
    left: 778px;
    top: 121px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 135.5%;
    color: #2F2F2F;
}